@font-face {
	font-family: "Circular Std";
	font-display: swap;
	src: url("../fonts/Circular-Std-Book.woff2") format("woff2"), url("../fonts/Circular-Std-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Circular Std";
	font-display: swap;
	src: url("../fonts/Circular-Std-Medium.woff2") format("woff2"),
		url("../fonts/Circular-Std-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Circular Std";
	font-display: swap;
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Circular Std";
	font-display: swap;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
